<html>
  <head>
    <title>ToDo App</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Shopping List</h1>
    </header>
    <main>
        <form action="/addsave" method="POST">
        <button>Add savings</button>
      </form>


      <h2>Cigarettes saved</h2>
          <%= saves %>


    </main>
  </body>
</html>
