/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bad4ff;
  background-image: linear-gradient(#bad4ff, white);
  font-family: sans-serif;
  display: flex;
  max-width: 75vw;
  align-content: center;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header{
  /* margin: 3vw 0vw 0vw 5vw; */
  margin-left: 5vw;
  
}

main {
  background-color: white;
  /* min-width: 50vw;
  max-width: 80vw; */
  margin: 0vw 5vw 5vw 5vw;
  border-radius: 5px;
  box-shadow: 20px black;
  align-self: center;
  flex-direction: column;

}

section {

}

article {
}

span {
}

blockquote {
}

h1 {
}

h2 {
  font-size: 1.9rem;
  margin: 1vw;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
}

img {

}

svg{

}

button{
  width: 15vw;
  height: 15vw;
  background: black;
  color: white;
  border-radius: 15px;
  margin: 1vw;
}
/* LAYOUT */

.buttons{
  display: flex;
  flex-direction: column;
}

.savings{
  display: inline-flex;
  background-color: green;
}

.smokes{
  display: inline-flex;
  background-color: red;
}

.scrounges{
  display: inline-flex;
  background-color: orange;
}

.cigarettesVisualized{
  flex-wrap: wrap;
}

.smallGreen{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;
}

.smallRed{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;

}

/* MODULES */
.remove{
  position: absolute;
  max-width: 5vw;
  max-height: 5vh;
}

/* STATE */
.saveChecked{
}
input[type=checkbox] + label {

}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
}


/* THEME */
