/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bad4ff;
  background-image: linear-gradient(#bad4ff, white);
  font-family: sans-serif;
  display: flex;
  /* max-width: 75vw; */
  align-content: center;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header{
  /* margin: 3vw 0vw 0vw 5vw; */
}

main {
  background-color: white;
  /* max-width: 80vw; */
  margin: 0vw 5vw 5vw 5vw;
  border-radius: 5px;
  box-shadow: 20px black;
  /* align-self: center; */
  padding: 2vw;

}

section {

}

article {
}

span {
}

blockquote {
}

h1 {
}

h2 {
  font-size: 1.9rem;
  padding: 1vw;
  padding-bottom: 2.5vw;
  color: white;
  background: black;
  margin-top: -1vw;
  position: relative;
  z-index: 4;
}


h3 {
  font-size: 1.9rem;
  padding: 1vw;
  color: white;}

p {
  font-size: 1.4rem;
}

img {

}

svg{

}

button{
  display: inline-flex;
  max-width: 10vw;
  max-height: 7vh;
  border-radius: 5px;
  margin: 1vw;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding: 1.5vw;

}
/* LAYOUT */

.categories{
  display: flex;
  flex-wrap: wrap;
}

.buttons{
  display: inline-flex;
  font-variant: small-caps;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  margin: 0.5vw;
}


.savings{
  max-width: 30vw;
  display: inline-flex;
  background-color: rgb(34, 109, 49);
  flex-direction: column;
  margin: 1.5vw;
}

.smokes{
  max-width: 30vw;
  display: inline-flex;
  background-color: rgb(109, 35, 35);
  margin: 1.5vw;
  flex-direction: column;

}

.scrounges{
  max-width: 30vw;
  display: inline-flex;
  background-color: rgb(109, 52, 33);
  margin: 1.5vw;
  flex-direction: column;
}

.money{
  display: inline-flex;
  justify-content: space-between;
  width: 50vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.left{
  text-align: left;
}

.right{

}

.remove{
  /* position: absolute;
  max-width: 5vw;
  max-height: 5vh; */
}

.cigarettesVisualized{
  flex-wrap: wrap;
}

.smallGreen{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;
}

.smallRed{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;

}

/* MODULES */


/* STATE */
.saveChecked{
}
input[type=checkbox] + label {

}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1vw;
  height: 100%;
  width: 51%;
  background: inherit;
  transform: skew(0deg, -5deg);
  z-index: -1;
;
}
h2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1vw;
  height: 100%;
  width: 51%;
  background: inherit;
  transform: skew(0deg, 5deg);
  z-index: -1;
}




/* THEME */
