/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bad4ff;
  background-image: linear-gradient(#bad4ff, white);
  font-family: sans-serif;
  display: flex;
}

header{
  margin: 3vw 0vw 0vw 5vw;
}

main {
  background-color: white;
  min-width: 50vw;
  max-width: 80vw;
  margin: 0vw 5vw 5vw 5vw;
  border-radius: 5px;
  box-shadow: 20px black;

}

section {

}

article {
}

span {
}

blockquote {
}

h1 {
  display: block;
}

h2 {

}

h3 {
  font-size: 3rem;
}

p {
}

img {

}

svg{

}

button{
  width: 15vw;
  height: 15vw;
  background: black;
  color: white;
  border-radius: 15px;
  margin: 1vw;
}
/* LAYOUT */
.buttons{
  display: flex;
  flex-direction: column;
}

.savings{
  display: inline-flex;
  background-color: green;
}

.smokes{
  display: inline-flex;
  background-color: red;
}

.scrounges{
  display: inline-flex;
  background-color: orange;
}

.cigarettesVisualized{
  flex-wrap: wrap;
}

.smallGreen{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;
}

.smallRed{
  max-width: 20%;
  margin: 0;
  padding: 0;
  z-index: 50;

}

/* MODULES */


/* STATE */
.saveChecked{
}
input[type=checkbox] + label {

}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
}


/* THEME */
